services:
  config-server:
    build:
      context: ./config-service
    container_name: config-server
    ports:
      - "${CONFIG_SERVER_PORT}:${CONFIG_SERVER_PORT}"
    environment:
      CONFIG_SERVER_PORT: ${CONFIG_SERVER_PORT}
  api-gateway:
    build:
      context: ./api-gateway/
    container_name: api-gateway
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    environment:
      CONFIG_SERVER_URI: "http://config-server:${CONFIG_SERVER_PORT}"
      API_GATEWAY_PORT: ${API_GATEWAY_PORT}
      KC_REALM_URI: "http://keycloak:${KC_PORT}/realms/ecoride"
    depends_on:
      config-server:
        condition: service_started
      keycloak:
        condition: service_healthy
  payment-service:
    build:
      context: ./payment-service
    container_name: payment-service
    ports:
      - "${PAYMENT_SERVICE_PORT}:${PAYMENT_SERVICE_PORT}"
    environment:
      CONFIG_SERVER_URI: "http://config-server:${CONFIG_SERVER_PORT}"
      PAYMENT_SERVICE_PORT: "${PAYMENT_SERVICE_PORT}"
      SPRING_R2DBC_URL: r2dbc:postgresql://payment-service-db:${PAYMENT_SERVICE_DB_PORT}/${PAYMENT_SERVICE_DB_NAME}
      SPRING_R2DBC_USERNAME: ${PAYMENT_SERVICE_DB_USER}
      SPRING_R2DBC_PASSWORD: ${PAYMENT_SERVICE_DB_PASS}
      SPRING_FLYWAY_URL: jdbc:postgresql://payment-service-db:${PAYMENT_SERVICE_DB_PORT}/${PAYMENT_SERVICE_DB_NAME}
      SPRING_FLYWAY_USER: ${PAYMENT_SERVICE_DB_USER}
      SPRING_FLYWAY_PASSWORD: ${PAYMENT_SERVICE_DB_PASS}
    depends_on:
      config-server:
        condition: service_started
      payment-service-db:
        condition: service_healthy

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    entrypoint: /opt/keycloak/bin/entrypoint.sh
    environment:
      KC_HTTP_PORT: ${KC_PORT}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:${KC_DB_PORT}/${KC_DB_NAME}
      KC_DB_USERNAME: ${KC_DB_USER}
      KC_DB_PASSWORD: ${KC_DB_PASS}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
      KC_HTTP_MANAGEMENT_PORT: ${KC_HTTP_MANAGEMENT_PORT}
      KC_HEALTH_ENABLED: true
      # Variables for realm substitution
      GATEWAY_REDIRECT_URL_1: ${GATEWAY_REDIRECT_URL_1}
      GATEWAY_REDIRECT_URL_2: ${GATEWAY_REDIRECT_URL_2}
      INTERNAL_REDIRECT_URL: ${INTERNAL_REDIRECT_URL}
      ECO_INTERNAL_SECRET: ${ECO_INTERNAL_SECRET}
    volumes:
      - ./keycloak/realm-ecoride.json.tpl:/opt/keycloak/conf/realm-ecoride.json.tpl
      - ./keycloak/entrypoint.sh:/opt/keycloak/bin/entrypoint.sh
    ports:
      - "${KC_PORT}:${KC_PORT}"
      - "${KC_HTTP_MANAGEMENT_PORT}:${KC_HTTP_MANAGEMENT_PORT}"
    healthcheck:
      test: [
          "CMD-SHELL",
          "exec 3<>/dev/tcp/localhost/${KC_HTTP_MANAGEMENT_PORT:?}; \
          echo -en 'GET /health/ready' >&3; \
          # Give the server a moment to respond, then search for 'UP'
          if timeout 3 cat <&3 | grep -m 1 'UP'; then \
          exec 3<&-; exec 3>&-; exit 0; \
          else \
          exec 3<&-; exec 3>&-; exit 1; \
          fi",
        ]
      interval: 15s
      timeout: 10s
      retries: 7
      start_period: 40s
    depends_on:
      - keycloak-db

  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: ${KC_DB_NAME}
      POSTGRES_USER: ${KC_DB_USER}
      POSTGRES_PASSWORD: ${KC_DB_PASS}
    volumes:
      - keycloak_data:/var/lib/postgresql/data
  payment-service-db:
    image: postgres:15
    container_name: payment-service-db
    environment:
      POSTGRES_PORT: ${PAYMENT_SERVICE_DB_PORT}
      POSTGRES_DB: ${PAYMENT_SERVICE_DB_NAME}
      POSTGRES_USER: ${PAYMENT_SERVICE_DB_USER}
      POSTGRES_PASSWORD: ${PAYMENT_SERVICE_DB_PASS}
    command: -p ${PAYMENT_SERVICE_DB_PORT}
    expose:
      - "${PAYMENT_SERVICE_DB_PORT}"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${PAYMENT_SERVICE_DB_USER} -d ${PAYMENT_SERVICE_DB_NAME} -p ${PAYMENT_SERVICE_DB_PORT}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  keycloak_data:
